<html>
<head>
	<title>Géneros musicales</title>

<!-- Latest compiled and minified CSS -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link href="css/simple-sidebar.css" rel="stylesheet">

</head>
<body>

  <div id="wrapper">
      <!-- Sidebar -->
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav">
					<li class="sidebar-brand">
						Menú de opciones
					</li>
					<li>
							<a  href = "/index">Registrar cliente</a>
					</li>
					<li>
							<a href = "/buscarCliente">Buscar cliente</a>

					</li>
					<li>
							<a href = "/buscarClientePasatiempo">Buscar cliente por pasatiempo</a>
					</li>
					<li>
							<a href = "/buscarClienteMusica" >Buscar cliente por música</a>
					</li>
					<li>
							<a  href = "/buscarClienteComida">Buscar cliente por comida</a>
					</li>
					<li>
							<a  href = "/buscarComida">Comidas</a>
					</li>
					<li>
							<a  href = "/buscarMusica">Géneros musicales</a>
					</li>
					<li>
							<a  href = "/buscarPasatiempos">Pasatiempos</a>
					</li>
				</ul>
			</div>
			<header>
				<div class="container">
					<h1>Preferences Book</h1>
				</div>

			</header>
								<br></br>

			<div class="col-md-8">
				<div class="panel panel-primary">

	      	<div class="panel-heading">
						<h2>Lista de todos los géneros musicales: <span class="label label-default"></span></h2>
					</div>
						<br></br>
						<br></br>
	<table class="table table-striped">
<tr>
	<td><strong>Géneros Musicales</strong></td>
</tr>

						<% for (var i = 0; i<listMusic.length;i++) { %>
						<tr>
								<td><%= listMusic[i]  %></td>

						</tr>
						<% }; %>
						</table>
						<br></br>

			</div>
		</div>
	</div>
</body>
</html>
