<html>
<head>
	<title>Consultar cliente</title>

<!-- Latest compiled and minified CSS -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link href="css/simple-sidebar.css" rel="stylesheet">

</head>
<body>

  <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
				<ul class="sidebar-nav">
					<li class="sidebar-brand">
						Menú de opciones
					</li>
					<li>
							<a  href = "/">Registrar cliente</a>
					</li>
					<li>
							<a href = "/buscarCliente">Buscar cliente</a>

					</li>
					<li>
							<a href = "/buscarClientePasatiempo">Buscar cliente por pasatiempo</a>
					</li>
					<li>
							<a href = "/buscarClienteMusica" >Buscar cliente por música</a>
					</li>
					<li>
							<a  href = "/buscarClienteComida">Buscar cliente por comida</a>
					</li>
					<li>
							<a  href = "/buscarComida">Comidas</a>
					</li>
					<li>
							<a  href = "/buscarMusica">Géneros musicales</a>
					</li>
					<li>
							<a  href = "/buscarPasatiempos">Pasatiempos</a>
					</li>
				</ul>
      </div>
			<header>
				<div class="container">
					<h1>Preferences Book</h1>
				</div>

			</header>
      <br></br>
      <div class="col-md-8">
        <div class="panel panel-primary">

          <div class="panel-heading">
            <h2>Buscar un cliente en particular: <span class="label label-default"></span></h2>
          </div>
            <br></br>

						<form method = "post" action = "/busqueda">

  		 			<label class = "col-sm-4" style = "margin-left:50px">Ingrese el nombre del cliente:</label>
  		 			<input type="text" placeholder = "Escriba el nombre" name="name" class="form-control col-sm-4"; style="width:220px;height:30px; margin-left:50px"/></input>
  					<br></br>
            <div class="col-sm-5">

            </div>
            <button type="submit" name = "buscarCliente" class="btn btn-primary col-sm-2" style = margin-left:100px>Buscar cliente</button>
                      <br></br>
                                <br></br>
            <table class="table table-striped">
							<tr>
              <td><strong>Nombre</strong></td>
              <td><strong>Email</strong></td>
              <td><strong>Comidas</strong></td>
              <td><strong>Géneros Musicales</strong></td>
              <td><strong>Pasatiempos</strong></td>
						</tr>

						<% for (var i = 0; i<customers.length;i++) { %>
						<tr>
								<td><%= customers[i].name  %></td>
								<td><%= customers[i].mail %></td>
								<td><%= customers[i].food %></td>
								<td><%= customers[i].musix %></td>
								<td><%= customers[i].hobbies %></td>
						</tr>
						<% }; %>
						</table>

					</form>


          <br></br>

<br></br>



      </div>


		</div>
	</div>
</body>
</html>
