doctype html
html(lang="en")
  head
    title= pageTitle
    link(link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css") 
    script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
  body
    h1(name="Shobbies") Lista de hobbies
    form(method="POST" action="/searchHobbies" style="margin-top:1.5em;")
        div(class="form-group left-block col-md-4 ")
          label(style="width: 150px;") Nombre
          div(class="form-group text-left")
          input(type="text" name="hobbie" placeholder="Nombre del Hobbie" class="form-control")
          input(type="submit" class="btn btn-info" value="Buscar")
    table(class="table" )
      caption Hobbies
      thead
        tr
          th Hobbies
      tbody
        each customer in customs
          tr
            td=customer.hobbies